---

layout: default
carousels: 
  - background_image_path: /assets/img/browser-screen-shot.png
    main_heading: Real-Time Communication for Real-Time Behavior
    sub_heading: ProTabula is a real-time communication solution that allows for quick feedback between staff about behavior as students progress through the support continuum.
    read_more_text: Request More Information
    read_more_link: http://google.com

---


    <section class="jumbotron text-xs-center">
        
        <div class="container">
            <h1 class="jumbotron-heading">Real-Time Communication for Real-Time Behavior</h1>
            <p class="lead text-muted">ProTabula is a real-time communication solution that allows for quick feedback between staff about behavior as students progress through the support continuum.</p>
            <p>
            <a href="#" class="btn btn-primary">Request More Information</a>
            <a href="#" class="btn btn-secondary">Secondary action</a>
            </p>
            

            <div class="row col-xs-12">
                <img class="img-fluid center-block" src="/assets/img/browser-screen-shot.png"/>
            </div>
        </div>
    </section>
    

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    
    <div class="container marketing">
        
        <!-- START THE FEATURETTES -->

        {% include featurette.html%}

        <!-- /END THE FEATURETTES -->
        
        <div class="row">
            <div class="col-md-12 text-xs-center">
                <h2 class="featurette-heading mt0 mb50">ProTabula at a <span class="text-muted">glance</span></h2>
            </div>
        </div>
        
        {% include cards.html %}
        
        {% include footer.html %}

    </div>
    <!-- /.container -->
