---
layout: default
carousels: 
  - background_image_path: "/assets/img/browser-screen-shot.png"
    main_heading: "Real-Time Communication for Real-Time Behavior"
    sub_heading: "ProTabula is a real-time communication solution that allows for quick feedback between staff about behavior as students progress through the support continuum."
    read_more_text: Request More Information
    read_more_link: "http://google.com"
published: true
---



    <section class="jumbotron text-xs-center">
        
        <div class="container">
            <h1 class="brand">{{ site.title }}<small> beta</small></h1>
            <h2 class="jumbotron-heading">Real-Time Communication for Real-Time Behavior</h2>
            <h3 class="lead">ProTabula is a real-time communication solution that allows for quick feedback between staff about behavior as students progress through the support continuum.</h3>
            <p>
                <a href="#contact-us" class="btn btn-primary">Request More Information</a>
            </p>
            

            <div class="row">
                <div class="col-xs-12">
                <img class="img-fluid center-block" src="/assets/img/browser-screen-shot.png"/>
                </div>
            </div>
        </div>
        
    </section>
    

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    
    <div class="container marketing pb5">
        
        <!-- START THE FEATURETTES -->

        {% include featurette.html%}

        <!-- /END THE FEATURETTES -->
     </div>
     
     <div class="ptb5" style="background-color: #EEEEEE;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-xs-center">
                    <h2 class="featurette-heading mt0">Works on all <span class="text-muted">devices</span></h2>
                    <h3 class="mb2rem">Optimized for your mobile device if you are on-the-go or use your favorite desktop browser.</h3>
                    <img class="img-fluid center-block" src="/assets/img/all-devices.png"/>
                </div>
            </div>
        </div>
     </div>
     
     <div class="container marketing">     
            
        <div class="row">
            <div class="col-md-12 text-xs-center">
                <h2 class="featurette-heading mt0 mb50">ProTabula at a <span class="text-muted">glance</span></h2>
            </div>
        </div>
        
        {% include cards.html %}
     </div>
     
    <script>
    function onSubmit(token) {
        document.getElementById("contact").submit();
    }
    </script>
     
     <div id="contact-us" class="ptb5" style="background-color: #EEEEEE;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <h2 class="featurette-heading mt0 text-xs-center">Contact <span class="text-muted">us!</span></h2>
                        
                    <form id="contact" action="https://getsimpleform.com/messages?form_api_token=a152e20b5949b804ec1dbc38758882c6" method="post">
                    <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                        <input type='hidden' name='redirect_to' value='http://www.protabula.com/thank-you' />
                        <fieldset class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                            <small class="text-muted">We'll never share your email with anyone else.</small>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Chuck Norris" required>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="title">Current Title</label>
                            <select class="form-control" v-model="title" id="title" name="title" style="height: 38px;" required>
                                <option>Select One</option>
                                <option>Teacher</option>
                                <option>Principal</option>
                                <option>District Administrator</option>
                                <option>Other</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
                        </fieldset>
                        
                          <button
                            data-sitekey="6LcbOR0UAAAAAFUmTEP_ktusgw04zL4ITRPxSLHj"
                            data-callback="onSubmit" type="submit" class="g-recaptcha btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
