---

layout: default
carousels: 
  - background_image_path: data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==
    main_heading: Real-Time Communication for Real-Time Behavior
    sub_heading: ProTabula is a real-time communication solution that allows for quick feedback between staff about behavior as students progress through the support continuum.
    read_more_text: Request More Information
    read_more_link: http://google.com

---

    {% include carousels.html %}

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        
        <!-- START THE FEATURETTES -->

        {% include featurette.html%}

        <!-- /END THE FEATURETTES -->
        
        <div class="row">
            <div class="col-md-12 text-xs-center">
                <h2 class="featurette-heading mt0 mb50">ProTabula at a <span class="text-muted">glance</span></h2>
            </div>
        </div>
        
        {% include cards.html %}
        
        {% include footer.html %}

    </div>
    <!-- /.container -->
