
<div class="row">
{% assign items = site.cards | sort: 'display_order' %}
{% for item in items %}
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" data-src="{{ item.image_src }}" alt="{{item.title}}">
                <div class="card-block">
                    <h4 class="card-title">{{item.title}}</h4>
                        {{ item.content}}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% if site.teasers.size > 0 %}
    <hr class="featurette-divider">
{% endif %}