<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="/assets/js/jquery.min.js"><\/script>')
</script>
<script src="/assets/js/all.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="//maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.min.js"></script>
<script src="/assets/js/contact.js"></script>