// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap.scss",
"carousel.scss";
.jumbotron {
    padding-top: 6rem;
    padding-bottom: 0;
    margin-bottom: 0;
    @include gradient-vertical(#f7f7f9, rgba(0, 109, 204, 100));
    img {
        max-height: 550px;
    }
    .brand {
        font-family: $brand-font;
        font-size: 45;
        color: $brand-primary;
        small {
            color: $brand-secondary;
            font-family: $font-family-sans-serif;
            font-size: 16px;
            padding-left: 5px;
        }
    }
    @include media-breakpoint-up(md) {
        .brand {
            font-size: 60px;
        }
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.marketing {
    margin-top: 6em;
}

.navbar-light {
    .navbar-brand {
        color: $brand-primary !important;
        font-family: $brand-font !important;
    }
    .navbar-nav .nav-link {
        color: inherit;
    }
}

heading {
    margin-top: 2rem;
}

.featurette-heading {
    margin-top: 2rem;
    + p,
    + dl {
        font-size: 1.25rem;
        font-weight: 300;
    }
}

.featurette-image {
    margin-bottom: 1rem;
}

.icon-holder {
    margin: 0 auto;
    position: relative;
    margin-bottom: 1rem;
    background-color: $brand-primary;
    height: 120px;
    width: 120px;
    
    i {
        line-height: inherit;
        font-size: 3rem;
        margin-top: 23px;
        color: #FFF;
    }
}

@include media-breakpoint-up(md) {
    .icon-holder {
        height: 140px;
        width: 140px;

        i {
            font-size: 4rem;
            margin-top: 23px;
        }
    }
}

.mt0 {
    margin-top: 0 !important;
}

.mb2rem {
    margin-bottom: 2rem;
}

.mb50 {
    margin-bottom: 7rem;
}

.ptb5 {
    padding: 5rem 0;
}

.pb5 {
    padding-bottom: 5rem;
}